# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
serie_anomalias = pd.Series(data=anomalias_termicas, index=anos)

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturas = {
    1900: -0.08,
    1920: -0.27,
    1940: 0.12,
    1960: -0.03,
    1980: 0.26,
    2000: 0.40,
    2020: 1.02
}

serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, columns=['Coluna 1', 'Coluna 2', 'Coluna 3'])

print(df)

      Coluna 1    Coluna 2    Coluna 3
0    70.379961   91.473890   88.117688
1    89.514526   85.601429  103.099602
2    75.106018   86.522168   85.360066
3   106.034560  114.313302  112.912658
4   102.488407   98.029995   92.402727
5    88.741163  100.728184   87.683810
6   107.253091   97.310839  101.758721
7   100.927784  103.188554  109.009172
8   121.371854  110.573573   92.876693
9    86.470031   88.908281   84.679403
10  107.885070  111.223333  108.741216
11  107.462679   91.714437  107.358801
12   85.147576  113.990681   86.418018
13   93.765603  109.375854   84.810509
14  103.114091   86.327074   91.398336
15  100.012492  105.078764   93.443331
16   83.555153  100.676170  111.482321
17   86.201528   90.538934   99.002007
18   98.006095   81.030184  112.493868
19   90.936723   88.238728   89.301666

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
df = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])

print(df)

            x1          x2          x3
1    70.379961   91.473890   88.117688
2    89.514526   85.601429  103.099602
3    75.106018   86.522168   85.360066
4   106.034560  114.313302  112.912658
5   102.488407   98.029995   92.402727
6    88.741163  100.728184   87.683810
7   107.253091   97.310839  101.758721
8   100.927784  103.188554  109.009172
9   121.371854  110.573573   92.876693
10   86.470031   88.908281   84.679403
11  107.885070  111.223333  108.741216
12  107.462679   91.714437  107.358801
13   85.147576  113.990681   86.418018
14   93.765603  109.375854   84.810509
15  103.114091   86.327074   91.398336
16  100.012492  105.078764   93.443331
17   83.555153  100.676170  111.482321
18   86.201528   90.538934   99.002007
19   98.006095   81.030184  112.493868
20   90.936723   88.238728   89.301666

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [10]:
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

print(df)

            x1          x2          x3       media
1    70.379961   91.473890   88.117688   83.323846
2    89.514526   85.601429  103.099602   92.738519
3    75.106018   86.522168   85.360066   82.329417
4   106.034560  114.313302  112.912658  111.086840
5   102.488407   98.029995   92.402727   97.640376
6    88.741163  100.728184   87.683810   92.384386
7   107.253091   97.310839  101.758721  102.107550
8   100.927784  103.188554  109.009172  104.375170
9   121.371854  110.573573   92.876693  108.274040
10   86.470031   88.908281   84.679403   86.685905
11  107.885070  111.223333  108.741216  109.283206
12  107.462679   91.714437  107.358801  102.178639
13   85.147576  113.990681   86.418018   95.185425
14   93.765603  109.375854   84.810509   95.983989
15  103.114091   86.327074   91.398336   93.613167
16  100.012492  105.078764   93.443331   99.511529
17   83.555153  100.676170  111.482321   98.571215
18   86.201528   90.538934   99.002007   91.914156
19   98.006095   81.030184  112.493868   97.176716
20   90.936723   88.238728   89.301666   89.492372

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [11]:
df['log_med'] = np.log(df['media'])

print(df)

            x1          x2          x3       media   log_med
1    70.379961   91.473890   88.117688   83.323846  4.422735
2    89.514526   85.601429  103.099602   92.738519  4.529784
3    75.106018   86.522168   85.360066   82.329417  4.410728
4   106.034560  114.313302  112.912658  111.086840  4.710312
5   102.488407   98.029995   92.402727   97.640376  4.581291
6    88.741163  100.728184   87.683810   92.384386  4.525958
7   107.253091   97.310839  101.758721  102.107550  4.626027
8   100.927784  103.188554  109.009172  104.375170  4.647992
9   121.371854  110.573573   92.876693  108.274040  4.684665
10   86.470031   88.908281   84.679403   86.685905  4.462291
11  107.885070  111.223333  108.741216  109.283206  4.693943
12  107.462679   91.714437  107.358801  102.178639  4.626723
13   85.147576  113.990681   86.418018   95.185425  4.555827
14   93.765603  109.375854   84.810509   95.983989  4.564181
15  103.114091   86.327074   91.398336   93.613167  4.539171
16  100.012492  105.078764   93.443331   99.511529  4.600274
17   83.555153  100.676170  111.482321   98.571215  4.590779
18   86.201528   90.538934   99.002007   91.914156  4.520855
19   98.006095   81.030184  112.493868   97.176716  4.576531
20   90.936723   88.238728   89.301666   89.492372  4.494153